In [15]:
import pandas as pd

In [16]:
file1 = pd.read_excel("E:/BusyQA/CO-OP 2 - California School Board/Data/Suspension Data.xlsx") 
file2 = pd.read_excel("E:/BusyQA/CO-OP 2 - California School Board/Data/Expulsion Data.xlsx")
file3 = pd.read_excel("E:/BusyQA/CO-OP 2 - California School Board/Data/Chronic Absent Data.xlsx")
file4 = pd.read_excel("E:/BusyQA/CO-OP 2 - California School Board/Data/FRPM Data.xls")
file5 = pd.read_excel("E:/BusyQA/CO-OP 2 - California School Board/Data/Foster Youth Data.xlsx")

In [17]:
file1

,DistrictName,SchoolName,CharterYN,ReportingCategory,Cumulative Enrollment,Total Suspensions,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),Suspension Count Violent Incident (No Injury),Suspension Count Weapons Possession,Suspension Count Illicit Drug-Related,Suspension Count Defiance-Only,Suspension Count Other Reasons
0,Alameda County Office of Education,Yu Ming Charter,All,GF,181,0,0,0,0.0,0,0,0,0,0,0
1,Alameda County Office of Education,Alameda County Juvenile Hall/Court,No,GF,169,25,15,3,8.9,7,15,0,0,3,0
2,Alameda County Office of Education,Cox Academy,Yes,GF,344,11,7,2,2.0,4,4,0,0,3,0
3,Alameda County Office of Education,Yu Ming Charter,Yes,GF,181,0,0,0,0.0,0,0,0,0,0,0
4,Alameda County Office of Education,Urban Montessori Charter,Yes,GF,181,0,0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214569,Wheatland Union High,Wheatland Union High,No,SS,324,63,40,17,12.3,0,30,0,5,20,8
214570,Wheatland Union High,Wheatland Community Day High,No,TA,13,11,5,5,38.5,0,1,0,0,10,0
214571,Wheatland Union High,Wheatland Community Day High,All,TA,13,11,5,5,38.5,0,1,0,0,10,0
214572,Wheatland Union High,Wheatland Union High,No,TA,783,113,73,29,9.3,1,54,1,9,34,14
214573,Wheatland Union High,Wheatland Union High,All,TA,783,113,73,29,9.3,1,54,1,9,34,14

In [18]:
file2

,DistrictName,SchoolName,CharterYN,ReportingCategory,Cumulative Enrollment,Total Expulsions,Unduplicated Count of Students Expelled (Total),Unduplicated Count of Students Expelled (Defiance-Only),Expulsion Rate (Total),Expulsion Count Violent Incident (Injury),Expulsion Count Violent Incident (No Injury),Expulsion Count Weapons Possession,Expulsion Count Illicit Drug-Related,Expulsion Count Defiance-Only,Expulsion Count Other Reasons
0,Alameda County Office of Education,Alameda County Juvenile Hall/Court,All,GF,169,0,0,0,0.0,0,0,0,0,0,0
1,Alameda County Office of Education,Lazear Charter Academy,All,GF,256,0,0,0,0.0,0,0,0,0,0,0
2,Alameda County Office of Education,Oakland Unity Middle,Yes,GF,86,0,0,0,0.0,0,0,0,0,0,0
3,Alameda County Office of Education,Cox Academy,Yes,GF,344,0,0,0,0.0,0,0,0,0,0,0
4,Alameda County Office of Education,Cox Academy,All,GF,344,0,0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214569,Wheatland Union High,Wheatland Union High,All,SS,324,2,2,0,0.6,0,1,0,1,0,0
214570,Wheatland Union High,Wheatland Community Day High,No,TA,13,0,0,0,0.0,0,0,0,0,0,0
214571,Wheatland Union High,Wheatland Union High,No,TA,783,4,4,0,0.5,0,2,0,2,0,0
214572,Wheatland Union High,Wheatland Union High,All,TA,783,4,4,0,0.5,0,2,0,2,0,0
214573,Wheatland Union High,Wheatland Community Day High,All,TA,13,0,0,0,0.0,0,0,0,0,0,0

In [19]:
file3

,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
0,Alameda County Office of Education,Envision Academy for Arts & Technology,All,GF,234,221,58,26.2
1,Alameda County Office of Education,Community School for Creative Education,All,GF,114,104,18,17.3
2,Alameda County Office of Education,Yu Ming Charter,All,GF,181,179,10,5.6
3,Alameda County Office of Education,Urban Montessori Charter,All,GF,181,178,24,13.5
4,Alameda County Office of Education,Alameda County Juvenile Hall/Court,All,GF,169,20,2,10.0
...,...,...,...,...,...,...,...,...
138790,Wheatland Union High,Wheatland Union High,All,SD,83,83,10,12.0
138791,Wheatland Union High,Wheatland Union High,All,SE,18,17,4,23.5
138792,Wheatland Union High,Wheatland Union High,All,SS,324,317,50,15.8
138793,Wheatland Union High,Wheatland Community Day High,All,TA,13,9,5,55.6
138794,Wheatland Union High,Wheatland Union High,All,TA,783,764,84,11.0

In [20]:
file4

,District Name,School Name,Charter \nSchool \n(Y/N),Low Grade,High Grade,Enrollment \n(K-12),Free Meal \nCount \n(K-12),Percent (%) \nEligible Free \n(K-12),FRPM Count \n(K-12),Percent (%) \nEligible FRPM \n(K-12),Enrollment \n(Ages 5-17),Free Meal \nCount \n(Ages 5-17),Percent (%) \nEligible Free \n(Ages 5-17),FRPM Count \n(Ages 5-17),Percent (%) \nEligible FRPM \n(Ages 5-17)
0,Alameda County Office of Education,Envision Academy for Arts & Technology,Yes,9,12,403,236,0.585608,299,0.741935,381,221,0.580052,283,0.742782
1,Alameda County Office of Education,Community School for Creative Education,Yes,K,8,208,110,0.528846,134,0.644231,199,104,0.522613,126,0.633166
2,Alameda County Office of Education,Yu Ming Charter,Yes,K,8,357,28,0.078431,33,0.092437,357,28,0.078431,33,0.092437
3,Alameda County Office of Education,Urban Montessori Charter,Yes,K,8,374,87,0.232620,102,0.272727,364,86,0.236264,100,0.274725
4,Alameda County Office of Education,Alameda County Juvenile Hall/Court,No,K,12,99,99,1.000000,99,1.000000,96,96,1.000000,96,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10029,Wheatland,Lone Tree Elementary,No,K,5,361,66,0.182825,147,0.407202,348,63,0.181034,142,0.408046
10030,Wheatland,Wheatland Elementary,No,K,3,312,120,0.384615,153,0.490385,300,113,0.376667,145,0.483333
10031,Wheatland,Wheatland Charter Academy,Yes,K,5,94,19,0.202128,51,0.542553,94,19,0.202128,51,0.542553
10032,Wheatland Union High,Wheatland Community Day High,No,7,12,4,2,0.500000,3,0.750000,4,2,0.500000,3,0.750000
10033,Wheatland Union High,Wheatland Union High,No,9,12,734,197,0.268392,271,0.369210,711,188,0.264416,262,0.368495

In [21]:
file5

,CDSCode,District Name,Test Type,Foster Reporting Category,Student Group Reporting Category,Number of Students Enrolled,Number of Students Tested,Enrolled Students Tested (%),Number of Students with Scores,Standard Exceeded (%),Standard Met (%),Standard Nearly Met (%),Standard Not Met (%)
0,1100170000000,Alameda County Office of Education,ELA,FN,SD,17,11,64.71,11,0.00,0.00,0.00,100.00
1,1100170000000,Alameda County Office of Education,ELA,FN,GF,47,11,23.40,11,0.00,9.09,18.18,72.73
2,1100170000000,Alameda County Office of Education,ELA,FN,TA,146,37,25.34,37,0.00,5.41,18.92,75.68
3,1100170000000,Alameda County Office of Education,ELA,FN,GM,99,26,26.26,26,0.00,3.85,19.23,76.92
4,1100170000000,Alameda County Office of Education,ELA,FN,RB,66,16,24.24,16,0.00,0.00,12.50,87.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32378,58727690000000,Wheatland Union High,Math,FN,TA,148,142,95.95,142,4.23,26.76,32.39,36.62
32379,58727690000000,Wheatland Union High,Math,FN,GM,82,79,96.34,79,6.33,25.32,35.44,32.91
32380,58727690000000,Wheatland Union High,Math,FN,G11,147,142,96.60,142,4.23,26.76,32.39,36.62
32381,58727690000000,Wheatland Union High,Math,FN,RH,45,42,93.33,42,7.14,16.67,35.71,40.48
32382,58727690000000,Wheatland Union High,Math,FN,GF,66,63,95.45,63,1.59,28.57,28.57,41.27

In [25]:
file12 = pd.merge(file1, file2,  how='inner', left_on=['DistrictName', 'SchoolName','CharterYN', 'ReportingCategory'], right_on = ['DistrictName', 'SchoolName','CharterYN', 'ReportingCategory'])
file12

,DistrictName,SchoolName,CharterYN,ReportingCategory,Cumulative Enrollment_x,Total Suspensions,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),...,Total Expulsions,Unduplicated Count of Students Expelled (Total),Unduplicated Count of Students Expelled (Defiance-Only),Expulsion Rate (Total),Expulsion Count Violent Incident (Injury),Expulsion Count Violent Incident (No Injury),Expulsion Count Weapons Possession,Expulsion Count Illicit Drug-Related,Expulsion Count Defiance-Only,Expulsion Count Other Reasons
0,Alameda County Office of Education,Yu Ming Charter,All,GF,181,0,0,0,0.0,0,...,0,0,0,0.0,0,0,0,0,0,0
1,Alameda County Office of Education,Alameda County Juvenile Hall/Court,No,GF,169,25,15,3,8.9,7,...,0,0,0,0.0,0,0,0,0,0,0
2,Alameda County Office of Education,Cox Academy,Yes,GF,344,11,7,2,2.0,4,...,0,0,0,0.0,0,0,0,0,0,0
3,Alameda County Office of Education,Yu Ming Charter,Yes,GF,181,0,0,0,0.0,0,...,0,0,0,0.0,0,0,0,0,0,0
4,Alameda County Office of Education,Urban Montessori Charter,Yes,GF,181,0,0,0,0.0,0,...,0,0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214685,Wheatland Union High,Wheatland Union High,No,SS,324,63,40,17,12.3,0,...,2,2,0,0.6,0,1,0,1,0,0
214686,Wheatland Union High,Wheatland Community Day High,No,TA,13,11,5,5,38.5,0,...,0,0,0,0.0,0,0,0,0,0,0
214687,Wheatland Union High,Wheatland Community Day High,All,TA,13,11,5,5,38.5,0,...,0,0,0,0.0,0,0,0,0,0,0
214688,Wheatland Union High,Wheatland Union High,No,TA,783,113,73,29,9.3,1,...,4,4,0,0.5,0,2,0,2,0,0
214689,Wheatland Union High,Wheatland Union High,All,TA,783,113,73,29,9.3,1,...,4,4,0,0.5,0,2,0,2,0,0

In [28]:
file123 = pd.merge(file12, file3,  how='inner', left_on=['DistrictName', 'SchoolName','CharterYN', 'ReportingCategory'], right_on = ['DistrictName', 'SchoolName','CharterYN', 'ReportingCategory'])
file123

,DistrictName,SchoolName,CharterYN,ReportingCategory,Cumulative Enrollment_x,Total Suspensions,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),...,Expulsion Count Violent Incident (Injury),Expulsion Count Violent Incident (No Injury),Expulsion Count Weapons Possession,Expulsion Count Illicit Drug-Related,Expulsion Count Defiance-Only,Expulsion Count Other Reasons,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
0,Alameda County Office of Education,Yu Ming Charter,All,GF,181,0,0,0,0.0,0,...,0,0,0,0,0,0,181,179,10,5.6
1,Alameda County Office of Education,Alameda County Juvenile Hall/Court,All,GF,169,25,15,3,8.9,7,...,0,0,0,0,0,0,169,20,2,10.0
2,Alameda County Office of Education,Urban Montessori Charter,All,GF,181,0,0,0,0.0,0,...,0,0,0,0,0,0,181,178,24,13.5
3,Alameda County Office of Education,Envision Academy for Arts & Technology,All,GF,234,42,27,16,11.5,1,...,0,0,0,0,0,0,234,221,58,26.2
4,Alameda County Office of Education,Lazear Charter Academy,All,GF,256,19,12,2,4.7,3,...,0,0,0,0,0,0,256,249,46,18.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106263,Wheatland Union High,Wheatland Union High,All,SD,83,31,20,12,24.1,0,...,0,1,0,0,0,0,83,83,10,12.0
106264,Wheatland Union High,Wheatland Union High,All,SE,18,3,2,1,11.1,0,...,0,0,0,0,0,0,18,17,4,23.5
106265,Wheatland Union High,Wheatland Union High,All,SS,324,63,40,17,12.3,0,...,0,1,0,1,0,0,324,317,50,15.8
106266,Wheatland Union High,Wheatland Community Day High,All,TA,13,11,5,5,38.5,0,...,0,0,0,0,0,0,13,9,5,55.6
106267,Wheatland Union High,Wheatland Union High,All,TA,783,113,73,29,9.3,1,...,0,2,0,2,0,0,783,764,84,11.0

In [32]:
file1234 = pd.merge(file123, file4,  how='inner', left_on=['DistrictName', 'SchoolName'], right_on = ['District Name', 'School Name'])
file1234

,DistrictName,SchoolName,CharterYN,ReportingCategory,Cumulative Enrollment_x,Total Suspensions,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),...,Enrollment \n(K-12),Free Meal \nCount \n(K-12),Percent (%) \nEligible Free \n(K-12),FRPM Count \n(K-12),Percent (%) \nEligible FRPM \n(K-12),Enrollment \n(Ages 5-17),Free Meal \nCount \n(Ages 5-17),Percent (%) \nEligible Free \n(Ages 5-17),FRPM Count \n(Ages 5-17),Percent (%) \nEligible FRPM \n(Ages 5-17)
0,Alameda County Office of Education,Yu Ming Charter,All,GF,181,0,0,0,0.0,0,...,357,28,0.078431,33,0.092437,357,28,0.078431,33,0.092437
1,Alameda County Office of Education,Yu Ming Charter,All,GM,184,1,1,0,0.5,1,...,357,28,0.078431,33,0.092437,357,28,0.078431,33,0.092437
2,Alameda County Office of Education,Yu Ming Charter,All,RA,164,0,0,0,0.0,0,...,357,28,0.078431,33,0.092437,357,28,0.078431,33,0.092437
3,Alameda County Office of Education,Yu Ming Charter,All,RB,14,0,0,0,0.0,0,...,357,28,0.078431,33,0.092437,357,28,0.078431,33,0.092437
4,Alameda County Office of Education,Yu Ming Charter,All,RH,18,0,0,0,0.0,0,...,357,28,0.078431,33,0.092437,357,28,0.078431,33,0.092437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105839,Wheatland Union High,Wheatland Union High,All,SD,83,31,20,12,24.1,0,...,734,197,0.268392,271,0.369210,711,188,0.264416,262,0.368495
105840,Wheatland Union High,Wheatland Union High,All,SE,18,3,2,1,11.1,0,...,734,197,0.268392,271,0.369210,711,188,0.264416,262,0.368495
105841,Wheatland Union High,Wheatland Union High,All,SS,324,63,40,17,12.3,0,...,734,197,0.268392,271,0.369210,711,188,0.264416,262,0.368495
105842,Wheatland Union High,Wheatland Union High,All,TA,783,113,73,29,9.3,1,...,734,197,0.268392,271,0.369210,711,188,0.264416,262,0.368495
105843,Wheatland Union High,Wheatland Community Day High,All,TA,13,11,5,5,38.5,0,...,4,2,0.500000,3,0.750000,4,2,0.500000,3,0.750000

In [35]:
file12345 = pd.merge(file1234, file5,  how='inner', left_on=['DistrictName', 'ReportingCategory'], right_on = ['District Name', 'Student Group Reporting Category'])
file12345

,DistrictName,SchoolName,CharterYN,ReportingCategory,Cumulative Enrollment_x,Total Suspensions,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),...,Foster Reporting Category,Student Group Reporting Category,Number of Students Enrolled,Number of Students Tested,Enrolled Students Tested (%),Number of Students with Scores,Standard Exceeded (%),Standard Met (%),Standard Nearly Met (%),Standard Not Met (%)
0,Alameda County Office of Education,Yu Ming Charter,All,GF,181,0,0,0,0.0,0,...,FN,GF,47,11,23.40,11,0.00,9.09,18.18,72.73
1,Alameda County Office of Education,Yu Ming Charter,All,GF,181,0,0,0,0.0,0,...,FN,GF,47,11,23.40,11,0.00,0.00,0.00,100.00
2,Alameda County Office of Education,Alameda County Juvenile Hall/Court,All,GF,169,25,15,3,8.9,7,...,FN,GF,47,11,23.40,11,0.00,9.09,18.18,72.73
3,Alameda County Office of Education,Alameda County Juvenile Hall/Court,All,GF,169,25,15,3,8.9,7,...,FN,GF,47,11,23.40,11,0.00,0.00,0.00,100.00
4,Alameda County Office of Education,Urban Montessori Charter,All,GF,181,0,0,0,0.0,0,...,FN,GF,47,11,23.40,11,0.00,9.09,18.18,72.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255824,Wheatland Union High,Wheatland Union High,All,RW,383,63,38,15,9.9,0,...,FN,RW,82,79,96.34,79,2.53,29.11,32.91,35.44
255825,Wheatland Union High,Wheatland Union High,All,TA,783,113,73,29,9.3,1,...,FN,TA,148,143,96.62,143,18.18,37.76,32.17,11.89
255826,Wheatland Union High,Wheatland Union High,All,TA,783,113,73,29,9.3,1,...,FN,TA,148,142,95.95,142,4.23,26.76,32.39,36.62
255827,Wheatland Union High,Wheatland Community Day High,All,TA,13,11,5,5,38.5,0,...,FN,TA,148,143,96.62,143,18.18,37.76,32.17,11.89
255828,Wheatland Union High,Wheatland Community Day High,All,TA,13,11,5,5,38.5,0,...,FN,TA,148,142,95.95,142,4.23,26.76,32.39,36.62

In [37]:
file12345.to_excel('E:/BusyQA/CO-OP 2 - California School Board/Data/merged_data.xlsx')